:root {
    --app-sidebar-expanded: var(--w-18);
    --app-sidebar-collapsed: var(--size-64);
    --app-sidebar-menu-gap: var(--space-025);
    --app-logo: var(--size-40);

    --app-space-L: var(--space-200);
    --app-space-M: var(--space-150);
    --app-space-S: var(--space-100);

    --app-gap-L: var(--space-075);
    --app-gap-M: var(--space-050);
    --app-gap-S: var(--space-025);

    --app-radius-L: var(--radius-200);
    --app-radius-M: var(--radius-150);
    --app-radius-S: var(--radius-075);

    --app-solid-L: var(--border-solid-L);
    --app-solid-M: var(--border-solid-M);
    --app-solid-S: var(--border-solid-S);

    /* Provisional */
    --app-bg-1: var(--slate-100);
    --app-bg-2: var(--slate-200);

    --app-txt-1: var(--slate-800);
    --app-accent: var(--blue-600);

    --app-focus: var(--blue-400);
    --app-offset: var(--size-02);
}

:root[data-theme="light"] {
    --app-bg-1: var(--slate-100);
    --app-bg-2: var(--slate-200);
}

:root[data-theme="dark"] {
    --app-bg-1: var(--pearl-100);
    --app-bg-2: var(--pearl-200);
}